.toasts-wrapper {
  position: absolute;
  bottom: 20px;
  right: 20px;
  overflow: hidden;
}

.toast {
  max-width: 480px;
  margin-top: 16px;
  display: flex;
  position: relative;
  cursor: pointer;
  animation: slideIn 0.5s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
}

.toast input[type=checkbox]:checked ~ * {
  /* opacity: 0; */
  animation: fadeOut 0.5s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
}

.toast__label {
  border: 2px solid transparent;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, .2);
  background-color: #fafafa;
  border-radius: 4px;
  padding: 16px 24px;
  line-height: 1.4;
  width: 100%;
  position: relative;
  min-width: 200px;
  max-width: 500px;
}

.toast__close-btn {
  position: absolute;
  right: 5px;
  border: none;
  background-color: transparent;
  font-size: 16px;
  cursor: pointer;
}
.hidden {
  display: none;
}

@keyframes fadeOut {
  0% {
		transform:translateX(0px);
		opacity:1;
	}
	100% {
		transform:translateX(50px);
		opacity:0;
	}
  to {top: 200px;}
}

@keyframes slideIn {
  0% {
		transform:translateX(1000px);
		opacity:0;
	}
	100% {
		transform:translateX(0);
		opacity:1;
	}
}